* {
   box-sizing: border-box;
   font-family: sans-serif;
   margin: 0;
   padding: 0;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}

.container {
   align-items: center;
   display: flex;
   flex-direction: column;
   padding: 50px;
}

.forms {
   display: flex;
   flex-direction: column;
   max-width: 360px;
   width: 100%;
}

.forms > * {
   margin-top: 16px;
}

.form {
   display: flex;
   flex-direction: column;
}

.scoreboard {
   align-items: center;
   display: flex;
   flex-direction: column;
   margin-top: 32px;
   max-width: 360px;
   width: 100%;
}

.scoreboard-labels {
   display: flex;
   font-weight: 600;
   justify-content: space-between;
   padding: 0 40px;
   width: 100%;
}

.match {
   display: flex;
   justify-content: space-between;
   width: 100%;
}
